*{
    padding: 0;
    margin: 0;
}

body{
  font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
z-index: 1;
}

.navbar__s1__title{
    color: blueviolet;
}

.navbar-s2{
    padding: 10px;
    border: solid;
    border-radius: 20px;
    width: 70%;
    display: flex;
    gap: 10px;
}

.navbar-s2 input{
    border: none;
    width: 50%;
    font-size: 15px;
    align-items: center;
    background-color: transparent;
}

.navbar-s2 input:focus{
    outline: none;

}

.navbar-s3{
    display: flex;
    gap: 7px;
    align-items: center;
}
.navbar-s4{
    margin-right: 10px;
    display: none;
}

/* My learning  popup*/

.my-learning
{
    position: relative;
    cursor: pointer;

}
.my-learning__popup{
    position: absolute;
    background-color: white;
    border: solid violet 2px;
    padding: 10px;
    width: 100px;
    top: 25px;
    right: 0px;
    border-radius: 20px;
    display: none;
}
.my-learning:hover .my-learning__popup{
    display: inline-block;
}

.categories{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px;
}

.categories p{
background-color: blueviolet;
color: white;
padding: 10px;
border-radius: 30px;
cursor: pointer;
 border: solid violet 2px;
 
}
.categories p:hover{
    transition: 1.5s;
    background-color: white;
    color: black;
    border: solid violet 2px;
}

.sale-image{
    position: relative;
}
.sale-image img{
    width: 100%;
}
.sale-image__offer{
    width:25%;
    border: solid rgb(163, 68, 201) 3px;
    background-color: black;
    color: white;
    position: absolute;
    padding: 20px;
    top:140px;
    left: 60px;
    animation-name: zoom;
    animation-duration: 1.5s;
}
@keyframes zoom{
    0%{
transform: scale(0%);
opacity: 0;
    }
    100%{
transform: 100%;
opacity: 1;
    }

}

.recommended__title{
    margin-top: 10px;
    margin-left: 10px;
}
.recommended__subtitle{
    margin-left: 11px;
}
.course__card{
    width: 270px;
}
.course__card img{
    width: 100%;
height: 50%;
}
.recommended__container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 20px;
}

.topic{
    padding: 10px;
}
.topic__container{
    display: flex;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topic__container p{
    border: solid black 2px;
    padding: 15px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}
.footer__container{
    padding: 40px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 10px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

/* @mediaquery */
@media screen and (max-width:700px){
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:700px){
  .categories{
    display: none;
  }
  .navbar-s2{
    display: none;
  }
  .navbar-s3{
    display: none;
  }
  .my-learning{
    display: none;
  }
  .my-learning p{
display: none;
  }
  .navbar-s4{
    display: block;
  }
}